# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
*.log

# Editors/OS
.idea/
.DS_Store
Thumbs.db

# Node/Electron
desktop/node_modules/
third_party/**/node_modules/
*.asar

# Builds/Artifacts
build/
dist/
*.bak
*.tmp

# Browser/Drivers/Cache



# Misc
*.sqlite*
*.db 